/* components.scss */

button:focus {
  outline:none;
}

span.toggle-text{
  display:none;
}

// @media (min-width: 1000px)
.header-inner .primary-menu-wrapper + .header-toggles .toggle-wrapper:first-child::before {
    content: none;
}

.header-footer-group table caption, body:not(.overlay-header) .header-inner .toggle-wrapper::before {
    content:none;
}

.nav-toggle .toggle-icon, .nav-toggle svg {
    width:28px;
    height:28px;
}


.tribe-events .tribe-events-l-container {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    min-height: 400px !important;
}


.nav-toggle .toggle-inner{
  padding-top:0;
}

.menu-icon{
  width:26px;
  height:26px;
  display: block;
  background-image: url('images/menu-icon.svg');
  background-repeat: no-repeat;
}

button.toggle.nav-toggle{
  margin-top:-4px;
}

input.search-submit{
   background-color: $accent;
  //background-color:violet
}

ul.neighborhood-profile-links{
  display:flex;
  flex-wrap: wrap;
  margin-left: 0;
  list-style: none;
  justify-content: center;
  //padding: 0 4em;

  li{
    a{
      font-size:2em;
      color: gray;
      font-family: $copy;
    }
  }
}



@media screen and (min-width: 768px) {

  ul.neighborhood-profile-links{

    padding: 0 3em;

  }

}
