/*  _footer.scss  */

footer#site-footer{

  border-top:2px solid $accent;
  background-color: $secondary;
  color:white;
  background-image: url('images/footer_bg03.jpg');
  background-size: cover;
  background-position: center;

  .logo-footer{
    width:190px;
    height:64px;
    display:block;
    margin: 0 auto 1em auto;
  }

  .menu-main-container{
    ul.menu{
      margin:0 0 0 0;
      list-style-type: none;
      padding-bottom:2rem;
      text-align: center;
      li{
        margin-left: 0;
        //border:1px solid red;
        #{$a-tags}{
          color:white;

          &:visited{
            color:white;
          }

          &:hover{
            color:white;
          }

          &:active{
            color:white;
          }

        }

        ul.sub-menu{
          display:none;
        }

      }
    }
  }

  .section-inner{
    justify-content: center;

    .footer-credits{
      p.footer-copyright{
        font-weight: 100;
        font-size:small;
        font-family: Arial;

        #{$a-tags}{
          //color:red;


          color:white;

          &:visited{
            color:white;
          }

          &:hover{
            color:white;
          }

          &:active{
            color:white;
          }

        }



      }
    }

  }

}//end site-footer

//MEDIA QUERIES -----------
@media screen and (min-width: 768px) {

  footer#site-footer{

  .menu-main-container{
    ul.menu{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      //border:1px solid blue;
      margin:0 0 0 0;
      list-style-type: none;
      padding-bottom:2rem;
      text-align: center;

      li{

        //border:1px solid green;
        margin-left: 1em;
        font-size: .85em;

        #{$a-tags}{
          color:white;
        }

        ul.sub-menu{
          display:none;
        }//ul.sub-menu

      }//li

      li:first-child {
        margin-left:0;
      }

    }//ul.menu
  }//menu-main-container

}//footer#site-footer

}//end media query
