/* _header.scss */

header#site-header{
  box-shadow: 2px 2px 2px rgba(0,0,0,.1)
}

.primary-menu ul.sub-menu::before{
    content: url(images/downArrow.svg) !important;
    display: block;
    position: absolute;
    bottom: 100%;
}

.primary-menu ul.sub-menu::after{
    content: normal;
    display: block;
    position: absolute;
    bottom: 100%;
}



//MOBILE DISPLAYS
.main-logo{
  width:220px;
  height:70px;
  display:block;
  background-image: url('images/DNLogo_main_purple.svg');
  background-repeat: no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}





    //MOBILE MODAL MENU
    nav.mobile-menu{
      //border:4px solid red;

      ul.modal-menu > li.menu-item > .ancestor-wrapper > a{
        //border:1px dotted gray;
        color: #605594;
        //color:pink;
        margin: 1em 0;
        //border:1px dotted red;
        padding: .5em 1em;

      &:visited{
        color: #605594;
      }
      &:hover {
        //color: white !important;
        text-decoration: none;
        //background-color: lighten($primary, 10%);
      }

      &:active {
      // color: #e76113; //orange
      color: $mouseover_color;
      text-decoration: none !important;
      background-color: $primary;
      }


    }//end ul.modal-menu > li.menu-item > .ancestor-wrapper > a


    // .modal-menu li.current_page_ancestor > .ancestor-wrapper > a{
    //   text-decoration: none;
    // }

    .modal-menu a:focus,
    .modal-menu a:hover,
    .modal-menu li.current-menu-item > .ancestor-wrapper > a,
    .modal-menu li.current_page_ancestor > .ancestor-wrapper > a{
      text-decoration: none;
    }


    ul.modal-menu > li.menu-item > .sub-menu{

        li.menu-item{

          border-color:none;
          border-left-width:0;
          border-color: lighten($primary, 20%);


          .ancestor-wrapper{

            a{
              font-size: 2rem;
              background-color: lighten($primary, 10%);
              color:white;
              padding-left:4rem;

            }

          }

        }

    }


      //-----------
      ul.primary-menu{

        // border: 3px solid red;

        li.menu-item {

          // a {
          //
          // }

          ul.sub-menu.active{
            border: 2px solid red !important;
             background-color:$primary;
             top: calc(100% + 1rem);
            //background-color: $accent;

            li{

              a{
                  color:white;

                &:visited{}

                &:hover,
                &:active{
                  background-color:white;
                  color: $secondary;
                }

              }//end a

            }

          }//end ul.sub-menu


        }//li.menu-item


        li.menu-item.menu-item-has-children {

            border:2px solid green;

        }



        li.menu-item.current-menu-item{
            a{
                text-decoration: none !important;
            }
        }

      }//ul.mobile-menu
    }






    //FULL-SIZE MODAL MENU
    nav.expanded-menu{

      //border:4px solid brown;

      ul.modal-menu > li.menu-item > .ancestor-wrapper > a{
        //border:1px dotted gray;
        color: #605594;
        //color:pink;
        margin: 1em 0;
        //border:1px dotted red;
        padding: .5em 1em;

      &:visited{
        color: #605594;
      }
      &:hover {
        //color: white !important;
        text-decoration: none;
        // background-color: lighten($primary, 10%);
        //color:lighten($purple, 10%);
        color: $accent;
      }

      &:active {
      // color: #e76113; //orange
      color: $mouseover_color;
      text-decoration: none !important;
      background-color: $primary;
      }


    }//end ul.modal-menu > li.menu-item > .ancestor-wrapper > a


    // .modal-menu li.current_page_ancestor > .ancestor-wrapper > a{
    //   text-decoration: none;
    // }

    .modal-menu a:focus,
    .modal-menu a:hover,
    .modal-menu li.current-menu-item > .ancestor-wrapper > a,
    .modal-menu li.current_page_ancestor > .ancestor-wrapper > a{
      text-decoration: none;
    }


    ul.modal-menu > li.menu-item > .sub-menu{

        li.menu-item{

           border-color:none;
           border-left-width:0;
           border-color: lighten($primary, 20%);



          .ancestor-wrapper{

            border:none;

            a{
              font-size: 2rem;
              //background-color: lighten($primary, 10%);
              //color:white;
              padding-left:4rem;
              color: $primary;

              &:hover{
                color: $accent;
              }

            }

          }

        }

    }


      //-----------
      ul.primary-menu{

        // border: 3px solid red;

        li.menu-item {

          // a {
          //
          // }

          ul.sub-menu.active{
            border: 2px solid red !important;
             background-color:$primary;
             top: calc(100% + 1rem);
            //background-color: $accent;

            li.menu-item{

              border:none !important;

              .ancestor-wrapper{

                //border:none;

              a{

                  //border:none;
                  color:white;

                &:visited{}

                &:hover,
                &:active{
                  background-color:white;
                  color: $secondary;
                }

              }//end a

            }//end ancestor-wrapper

            }

          }//end ul.sub-menu


        }//li.menu-item


        li.menu-item.menu-item-has-children {

            border:2px solid green;

        }



        li.menu-item.current-menu-item{
            a{
                text-decoration: none !important;
            }
        }

      }//ul.mobile-menu


      ul.modal-menu > li.menu-item > .sub-menu li.menu-item{
        border-color: #dcd7ca !important;



      }


    }//nav.expanded-menu



//}//header-navigation-wrapper






//MEDIA QUERIES -----------------------------------
//TABLET
@media screen and (min-width: 468px) {
  .main-logo{
    width:240px;
    height:96px;
    //border:1px dotted orange;
  }
}


//DESKTOP
@media screen and (min-width: 768px) {
  .main-logo{
    width:276px;
    height:96px;
    //border:1px dotted red;

  }
}


@media screen and (min-width: 1000px) {
  .main-logo{
    border:none;
  }

  .primary-menu > li{
    margin: 0;
    padding:0;


  }//end primary-menu >li

  .primary-menu > li.menu-item-has-children > a {
      padding-right: 0;
  }

  .primary-menu > li.menu-item-has-children{
      span.icon{
        display:none;
      }
  }

  //get rid of underline on current nav item
  .primary-menu a:hover, .primary-menu a:focus, .primary-menu .current_page_ancestor {
      text-decoration: none;
  }


  .header-navigation-wrapper{

      // border: 10px solid purple;

      nav.primary-menu-wrapper{

        //border:4px solid red;

        ul.primary-menu > li.menu-item > a{

          //border:2px solid blue;

          color: #605594;

          margin: 1em 0;
          //border:1px dotted red;
          padding: .5em 1em;
          //text-transform: uppercase;

        &:visited{
          color: #605594;
        }
        &:hover {
          // color: #e76113; //orange
          //color: $mouseover_color;
          color: white !important;
          text-decoration: none;
          background-color: lighten($primary, 10%);
        }

        &:active {
        // color: #e76113; //orange
        color: $mouseover_color;
        text-decoration: none !important;
        background-color: $primary;
        }


        }//end li.menu-item > a



        //-----------
        ul.primary-menu{

          // border: 3px solid red;

          li.menu-item {

            // a {
            //
            // }

            ul.sub-menu{
              //border: 2px solid red;
               background-color:$primary;
               top: calc(100% + 1rem);
              //background-color: $accent;

              li{

                a{
                    color:white;

                  &:visited{}

                  &:hover,
                  &:active{
                    background-color:white;
                    color: $secondary;
                  }

                }//end a

              }

            }//end ul.sub-menu


          }//li.menu-item


          li.menu-item.menu-item-has-children {

              //border:2px solid green;

          }



          li.menu-item.current-menu-item{
              a{
                  text-decoration: none !important;
              }
          }

        }//ul.primary-menu
      }

  }//header-navigation-wrapper


}//end min-width: 1000px









.header-navigation-wrapper{

    // border: 10px solid purple;

    nav.primary-menu-wrapper{
      ul.primary-menu{

        li.menu-item{

          a {
              color: #605594;
            &:visited{
              color: #605594;
            }
            &:hover {
              // color: #e76113; //orange
              color: $mouseover_color;
              text-decoration: none;
            }
            &:active {
            // color: #e76113; //orange
            color: $mouseover_color;
            text-decoration: none !important;
            }
          }

          ul.sub-menu{
            //border: 2px solid red;
            //background-color:$primary;



            li{

              a{
                  color:white;
              }

            }



          }//end ul.sub-menu



        }//li.menu-item

        li.menu-item.current-menu-item{
            a{
                text-decoration: none !important;
            }
        }

      }//ul.primary-menu
    }

}//header-navigation-wrapper
