/* _homepage.scss */

main.homepage{

.slideshow-holder{

  position: relative;

    .message-holder{

      position: absolute;
      z-index: 2;
      width:100%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-events: none; //so arrows underneath can be access for clicks

      h1{
        text-align: center;
        color:white;
        font-family: $copy;
        font-size: 3rem;

        span.home{
          background-color: $accent;

          padding: 0 .75rem;

        }

      }


    }

}

    .welcome-message{

      padding: 1.25em;
      padding-top:2em;
      text-align: center;
      font-family: $copy;
      //font-weight: bold;

      h2{
        text-align: center;
        color: $accent;
        font-size: 3.2em;
        padding: 1em 0;
      }

      p{
        text-align: center;
        font-size: 1.85em;
        color: black;
        line-height: 1.2em;

        .line-2{
          color: $accent;

        }

      }

    }//end welcome-message


.container.homepage-callouts{
  .row{

    .callout{
      text-align: center;
      color:white;
      padding: 1.5em .5em;

      h2{
        color:white;
        font-family: $headline;
        font-weight: bold;
        padding: 1em 0;
        font-size: 2.4rem;

        a{
          color:white;

          &:link, &:visited,
          &:hover, &:active{
            color:white;
          }

        }

      }

      p{
        font-family: $copy;
        display:none;
      }

      .callout-button{
        display:none;
      }

    }

    .box-1{
      background-color: $primary;
      background-image: url('images/callout01.jpg');
      background-position: center center;
      background-size: cover;
    }

    .box-2{
      background-color: $primary;
      background-image: url('images/callout02.jpg');
      background-position: center center;
      background-size: cover;
    }

    .box-3{
      background-color: $primary;
      background-image: url('images/callout03.jpg');
      background-position: center center;
      background-size: cover;
    }

    .box-4{
      background-color: $primary;
      background-image: url('images/callout04.jpg');
      background-position: center center;
      background-size: cover;
    }

  }//end row

  margin-bottom:2em;

}//.container.homepage-callouts


.featured-neighborhoods{
  h3{
    text-align: center;
    font-family: $copy;
    color: $accent;
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: .5em;
  }

  .row{
    article.col-sm{

        // border-bottom:1px solid $gray;

        a{
          &:link, &:visited{
            color: $primary;
          }
          &:hover, &:active{
            color: $accent;
          }
        }

        img{
          margin-bottom: 1em;
        }

        h4{
          font-family: $headline;
          font-weight: bold;
          text-align: center;
          font-size:2.4rem;
          margin-bottom:.75em;
        }

    }
  }

}//end featured-neighborhoods



article.neighborhood_profile{
  padding-bottom:6em !important;
  border-bottom:1px solid $gray;
  padding-top:.5em !important;
  border-bottom: 0px;

  h2{
    font-family: $headline;
    margin-top:1rem;
    // border:1px solid red;

    a{
      &:link, &:visited{
        color: black;
      }

      &:hover, &:active{
        color: $primary;
      }
    }

  }

}


.features{

  article{

    padding-top:2.4em;

    h2{
      font-family: $headline;

      a{
        //border:1px solid red;
        &:visited{
          color:black;
        }

        &:hover, &:active{
          color: $primary;
        }


      }

    }

  }//article

}//end features


}//main._homepage


@media screen and (min-width: 576px){

  main.homepage{

    .container.homepage-callouts{
      .row{

        .callout{
          text-align: center;
          color:white;
          padding: 1.5em 1.5em;
          min-height:216px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2{
            color:white;
            font-family: $headline;
            font-weight: bold;
            font-size:2.4em;
            padding:0;

            a{
              color:white;

              &:link, &:visited,
              &:hover, &:active{
                color:white;
              }

            }

          }

          p{
            font-family: $copy;
            display:block;
          }

          .callout-button{
            background-color: none !important;
            border:1px solid white;
            color:white;
            display: inline-block;
            margin: 0 auto;
            padding: 1em 2em;
            border-radius: 20px;
            cursor:pointer;

            &:hover, &:active{
              background-color: rgba(255, 255, 255, .25);
            }

          }

        }

        .box-1{
          background-color: $primary;
          background-image: url('images/callout01.jpg');
          background-position: center center;
          background-size: cover;
          border-right:1px solid white;
        }

        .box-2{
          background-color: $primary;
          background-image: url('images/callout02.jpg');
          background-position: center center;
          background-size: cover;
          border-right:1px solid white;
        }

        .box-3{
          background-color: $primary;
          background-image: url('images/callout03.jpg');
          background-position: center center;
          background-size: cover;
        }

        .box-4{
          background-color: $primary;
          background-image: url('images/callout04.jpg');
          background-position: center center;
          background-size: cover;
          margin-top:1px;
        }

      }//end row

      margin-bottom:2em;

    }//.container.homepage-callouts


  }//end main.homepage

}


@media screen and (min-width: 700px) {
  .features .entry-content{
    padding: 0 1em;
  }
}

//MEDIA QUERIES ---------
//TABLET/IPAD
@media screen and (min-width: 768px) {


  main.homepage{

    .slideshow-holder{

        .message-holder{

          h1{
            font-size: 6rem;
            span.home{
               padding: 0 1.6rem;
            }
          }

        }//message-holder
    }//slideshow-holder



      .welcome-message{

        padding-top:2em;
        text-align: center;
        font-family: $copy;

        h2{
          text-align: center;
          color: $accent;
          font-size: 5.4em;
        }



        p{
          text-align: center;
          font-size: 3.2em;
          color: black;
          line-height: 1.2em;

          .line-2{
            color: $accent;
          }

        }//p

      }//end welcome-message



      .container.homepage-callouts{
        .row{

          .callout{
            text-align: center;
            color:white;
            padding: 1.5em 1.5em;
            min-height:216px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
              color:white;
              font-family: $headline;
              font-weight: bold;
              font-size:3em;

              a{
                color:white;

                &:link, &:visited,
                &:hover, &:active{
                  color:white;
                }

              }

            }

            p{
              font-family: $copy;
              display:block;
              font-size:1.5em;
            }

            .callout-button{
              background-color: none !important;
              border:1px solid white;
              color:white;
              display: inline-block;
              margin: 0 auto;
              padding: 1em 2em;
              border-radius: 20px;
            }

          }


        }//end row

        margin-bottom:2em;

      }//.container.homepage-callouts



  article.neighborhood_profile{

    padding-top:2.4em !important;
    border-bottom: 0px;

    .entry-content{

      figure.featured-media {
        max-width: 72rem !important;
        width: calc(100% - 2rem);
      }

      header#entry-header .entry-categories .entry-categories-inner a{
        font-size: 1.5rem !important;
        border-bottom: none;
        //border:1px solid red;

        &:link, a:visited{
          color: $accent;
        }

        &:hover, a:active{
          color: $primary;
        }

      }


    }

    h2{
      font-family: $headline;
    }

  }//article.neighborhood_profile


  .features{

    article{
      padding-top:5em !important;
    }
  }

  }//main._homepage

}//end media query 768px;


//FULL-SCREEN DEVICES (LAPTOPS, MONITORS, ETC.) --------
@media screen and (min-width: 992px) {

  main.homepage{

    .slideshow-holder{

        .message-holder{

          h1{
            font-size: 8rem;

            span.home{
              padding: 0 2.4rem;
            }

          }

        }

    }

      .welcome-message{

        padding-top:3.6em;
        text-align: center;
        font-family: $copy;

        h2{
          text-align: center;
          color: $accent;
          font-size: 9em;
          letter-spacing: .015rem;
        }

        p{
          text-align: center;
          font-size: 3.6em;
          color: black;
          line-height: 1.2em;

          .line-2{
            color: $accent;
          }

        }//p

      }//end welcome-message



      .container.homepage-callouts{
        .row{

          .callout{
            text-align: center;
            color:white;
            padding: 1.5em 1.5em;
            padding-bottom: 3em;
            min-height:216px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
              color:white;
              font-family: $headline;
              font-weight: bold;
              font-size:3.6em;

              a{
                color:white;

                &:link, &:visited,
                &:hover, &:active{
                  color:white;
                }

              }

            }

            p{
              font-family: $copy;
              display:block;
              font-size:2em;
            }

            .callout-button{
              background-color: none !important;
              border:1px solid white;
              color:white;
              display: inline-block;
              margin: 0 auto;
              padding: .5em 2em .7em 2em;
              border-radius: 5px;
              font-size: 1.5em;
              font-weight: bold;
              background-color: rgba(0,0,0,.15);
            }

          }


        }//end row

        margin-bottom:2em;

      }//.container.homepage-callouts


      .featured-neighborhoods{
        h3{
          text-align: center;
          font-family: $copy;
          color: $accent;
          font-size: 3.2rem;
          padding-top: 1rem;
          padding-bottom: .5em;
        }

        .row{
          article.col-sm{

              img{
                margin-bottom: 1em;
              }

              h4{
                font-family: $headline;
                font-weight: bold;
                text-align: center;

                margin-bottom:.75em;
              }

          }
        }

      }//end featured-neighborhoods




  article.neighborhood_profile{
    padding-top:4em !important;
    border:none;
    //border-bottom:1px solid $gray;
    border-bottom: 0px;

    .entry-content{

      figure.featured-media {
        max-width: 90rem !important;
        width: calc(100% - 2rem);
      }

      header#entry-header .entry-categories .entry-categories-inner a{
        font-size: 1.5rem !important;
        border-bottom: none;
      }

    }//end entry-content


    h2{
      font-family: $headline;
      margin-top:1rem;
    }

  }//article.neighborhood-profile


  .features{

    display: flex;

    article{
      border:none;
      flex-grow: 1;
      // padding-top:7em;
      // padding-bottom:10em;
      padding: 7em 2em 10em 2em;

      h2{
        font-family: $headline;
      }

    }

    article:nth-child(2) {
      border-left: 1px solid #cccccc;
    }

  }//end features


  }//main._homepage


}//end media query 992px
