/* _main.scss */

body{

  background-color: $secondary;

    main#site-content{
      background-color: white;
      padding-bottom: 12.5em;
      min-height: 1000px;
   }

   .post-inner{
     //padding-top:1em;
   }

   //links should in general turn purple on mouseover
   a{
     &:hover, &:active{
       color: $primary;
     }
   }


   .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
       max-width: 58rem;
       width: calc(100% - 2rem) !important;
   }

   .entry-content p,
   .entry-content ol,
   .entry-content ul,
   .entry-content dl,
   .entry-content dt {
    font-family: $copy;
    letter-spacing: normal;
    font-size: 19px;
    color: #333333;
}

.entry-categories-inner{
  font-family: Arial, sans-serif;
}


}



body.singular{

 main#site-content{

  article{

    .header-over-image{
        position: relative;

    header#entry-header{

        position: absolute;
        top: 40%;
        width:100%;
        color:white;
        background-color: none !important;

        .entry-header-inner.section-inner{

          width:100%;

          h1.entry-title,
          h2.entry-title {
            font-size:6em;
            font-weight: bold;
            font-family: $headline;
            color:white;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px rgba(0,0,0,.5);          //text-shadow: 7px 8px 9px -5px rgba(0,0,0,0.78);
          }

        }//.entry-header-inner

      }//header

      figure.featured-media {
        position: relative;
      }

      }//end header-over-image

  }//article



}//main#site-content`

}//body.singular



input.search-submit{
   background-color: $accent;
  //background-color:violet
}


//MEDIA QUERIES -----------

@media (min-width: 700px){
  .post-inner {
      padding-top: 1em;
  }
}



@media screen and (min-width: 768px) {

  body{

    // .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    //     max-width: 58rem;
    //     width: calc(100% - 5rem) !important;
    //     border:1px dotted aqua;
    // }

    .entry-content p,
    .entry-content ol,
    .entry-content ul,
    .entry-content dl,
    .entry-content dt {
     font-size: 19px;
 }

  }//end body

  body.singular{

   main#site-content{

    article{

      .header-over-image{

      header#entry-header{

          position: absolute;
          top: 32%;

          .entry-header-inner.section-inner{

            width:100%;

            h1.entry-title,
            h2.entry-title {
              font-size:12em;
            }

          }//.entry-header-inner

        }//header

        figure.featured-media {
          position: relative;
        }

        }//end header-over-image

    }//article

  }//main#site-content`

  }//body.singular

}//end media query
