/*map*/

main#site-content.map{


  article.page{

    #map{

      // border:2px dashed orange;
      display:block;
      text-align: center;

      img{
        margin:0 auto;
        margin-bottom:1em;
      }

      h2{

      }

    }

  }

}
