/* _neighborhood-profile.scss */


//MOBILE SIZE
.neighborhood-profile{

  padding-top:0;

  .entry-content#full-width-content{

    width:100% !important;
    max-width: 100% !important;

    header#entry-header{
      text-align: center;

      .entry-categories{

           margin-bottom:1rem;

        .entry-categories-inner{
          a{
            font-size:1.25em;
            border-bottom: none;

            &:visited{

            }
            &:hover,
            &:active{
              text-decoration: underline;
            }
          }
        }
      }

      h1.entry-title{
        font-family: $copy;
        font-size: 4.2em;
        margin-top: .0;
        color: #555b6b;
      }

      .intro-text.section-inner{
        display:none;
      }

    }

    .container{
      width:100% !important;
      max-width: none !important;


    h4{
      margin-top:0;
      font-family: $headline;
      font-weight: bold;
      margin-bottom: 0;
      font-size: x-large;

    }

    p.icon-stat{
      font-size: 36px;
      color: $accent;
    }


    h3{
      margin-top:0;
    }

      section{ //for all sections
        padding-top:0;
        padding-bottom:0;
      }

      .row.pictures{
        margin-top:1em;

        img{
          margin: 1em auto;
        }

      }

      section.walk-scores,
      section.home-info{
        background-color:white;
        text-align: center;

        display:block;

        .box{
          flex-grow: 1;
          margin: 0 0 .5em 0;
          padding: 1em;

          img.icon{
            max-width: 100px;
            max-height: 100px;
            margin:1em auto 1em auto;
          }

          i.fas, i.fal, i.fad{
            color: #8f89c4;
            padding-bottom: .15em;
          }

          h4{}

        }//end box

      } //end walk-scores

      p.footnote{
        font-size: 1.5em;
        font-style: italic;
        color:gray;
        margin: .5em auto;
        width:100%;
        text-align: center;
      }

      section.description-quick-stats{
        display: block;
        margin-top:.85em;


        .description{

         //border-top: 2px dotted lighten($primary, 30%);

          p{
            font-size: 18px;
            padding-top: .5em;
            padding-bottom: .35em;
          }

          p:last-child{
            padding-bottom: 2em;
          }

        }

        .quick-stats{
          background-color: lighten($gray, 10%);
          padding:none !important;
          padding-left:0;
          padding-right:0;

          h4.q-stats{
            margin-bottom:.5em;
            background-color: $accent;
            padding:.25em;
            padding-bottom:.45em;
            text-align: center;
            color: white;
            font-family: $slab;
            letter-spacing: .025rem;
          }

          h4.neighborhood{
            margin-bottom:.25em;
            font-family: $copy;
            font-weight: bold;
            color: #210f10;
          }

          .content{
            font-family: Arial, sans-serif;
            padding:1em;
            padding-top:0;
            text-align: center;
          }

          p{
            font-family: $copy;
            font-style: oblique;
            font-size:1.8em;
            padding-bottom:.5em;
            margin-bottom:0;
          }

          p:not(:last-of-type){
            border-bottom:1px solid $gray;
          }

          p:not(:first-of-type) {
            span.label{
                border-top:1px solid white;
                padding-top:3px;
              }
          }

          span.label{
            // padding-top:1em;
            font-family: Arial, sans-serif;
            font-style: normal;
            display:block;
            font-weight: bold;
            color: $accent !important;
            letter-spacing: -1px;
          }

        }//end quick-stats

      }//end section.description-quick-stats


      section.neighborhood-assoc-info{
        background-color: lighten($gray, 10%);
        margin-top: 1em;
        padding:2em;

        p{
          font-size:1.6em;
        }

      }

    }//end container

    } //end entry-content

} //end neighborhood-profile

h3.explore { //Explore Dayton's Neighborhoods
  font-size: 2.8rem;
  color:$accent;
  text-align: center;
  font-family: $copy;
  padding-top:1em;
}




//MEDIA QUERIES -----------

@media screen and (min-width: 576px) {

.row.pictures{
  margin-top:.5em;

  img{
    margin: 0 !important;
  }

}
}


@media screen and (min-width: 601px) {

}//end min-width 601px






//TABLET/IPAD
@media screen and (min-width: 768px) {

  .neighborhood-profile{

    padding-top:0;

    .entry-content#full-width-content{

      width:100% !important;
      max-width: 1000px !important;
      //padding-top:1em;
      margin: 0 auto;


      header#entry-header{
        text-align: center;
        max-width: 100% !important;

        .entry-categories{

             margin-bottom:1rem;

          .entry-categories-inner{
            a{
              font-size:1em;
              border-bottom: none;

              &:visited{

              }

              &:hover,
              &:active{
                text-decoration: underline;
              }

            }
          }
        }

        h1.entry-title{
          //font-family: $headline;
          font-family: $copy;
          //font-weight: bold;
          font-size: 4.2em;
          margin-top: .0;

        }

        .intro-text.section-inner{
          display:none;
        }

      }


      .container{

      width:100% !important;
      max-width: none !important;

      h3{
        margin-top:0;
      }

        section{ //for all sections
          padding-top:0;
          padding-bottom:0;
        }

        section.walk-scores,
        section.home-info{
          background-color:white;
          text-align: center;
          padding-top: .5em;

          display:flex;

          .box{
            flex-grow: 1;
            margin: 0 .5em 0 .5em;
            padding: 1em;

            img.icon{
              max-width: 114px;
              max-height: 114px;
              margin:0 auto 1em auto;
            }

            h4{
              margin-top:0;
              margin-bottom:0;
              font-size: 1.1em;
            }

            p.icon-stat{
              font-size: 36px;
            }

          }

        } //end walk-scores

        p.footnote{
          font-size: .75em;
          font-style: italic;
          color:gray;
          margin: .5em auto;
          width:100%;
          text-align: center;
        }

        section.home-info{

        }

        section.description-quick-stats{
          display: block;
          margin-top:1.4em;


          .description{
            border-top: 0;

            p{
              font-size:18px;
            }

            p:first-child:first-letter {
              color: $accent;
              float: left;
              font-size: 90px;
              line-height: 70px;
              padding-top: 4px;
              padding-right: 8px;
              padding-left: 3px;
            }

          }

          .quick-stats{
            //border:1px solid blue;
            background-color: lighten($gray, 10%);
            padding:none !important;
            padding-left:0;
            padding-right:0;

            h4.q-stats{
              margin-bottom:.5em;
              background-color: $accent;
              padding:.25em;
              padding-bottom:.45em;
              text-align: center;
              color: white;
              font-family: $slab;
              letter-spacing: .025rem;
              font-size:1.76em;
            }

            h4.neighborhood{
              margin-bottom:.25em;
              //text-transform: uppercase;
              // font-family: $slab;
              font-family: $copy;
              font-weight: bold;
              color: #210f10;
              font-size:2em;
            }

            .content{
              font-family: Arial, sans-serif;
              padding:1em;
              padding-top:0;
              text-align: center;
            }

            p{
              font-family: $copy;
              font-style: oblique;
              font-size:1.1em;
              padding-bottom:.5em;
              margin-bottom:0;
            }

            p:not(:last-of-type){
              border-bottom:1px solid $gray;
            }

            p:not(:first-of-type) {
              span.label{
                  border-top:1px solid white;
                  //border-top:1px solid $gray;
                  padding-top:3px;
                }
            }

            span.label{
              // padding-top:1em;
              font-family: Arial, sans-serif;
              font-style: normal;
              display:block;
              font-weight: bold;
              color: $accent !important;
              letter-spacing: -1px;
            }

          }//end quick-stats

        }//end section.description-quick-stats


        section.neighborhood-assoc-info{

          h4 {
            font-size: 1.1em;
          }

          p{
            font-size: 1.1em;
          }

        }

      }//end container

      } //end entry-content

  } //end neighborhood-profile

}//END 768 MEDIA QUERY (DESKTOP)





//FULL-SCREEN DEVICES (LAPTOPS, MONITORS, ETC.) --------
@media screen and (min-width: 992px) {

  .neighborhood-profile{

    padding-top:0;


    .entry-content#full-width-content{


      width:100% !important;
      max-width: 1000px !important;
      margin: 0 auto;

      h1.entry-title{
        font-size:6em !important;
      }

      .container{

        width:100% !important;
        max-width: none !important;

        h3{
          margin-top:0;
        }

        section{ //for all sections
          padding-top:0;
          padding-bottom:0;
        }

        section.walk-scores,
        section.home-info{
          background-color:white;
          text-align: center;
          padding-top: .5em;

          display:flex;

          .box{

            flex-grow: 1;
            margin: 0 .5em 0 .5em;
            padding: 1em;

            img.icon{
              max-width: 114px;
              max-height: 114px;
              margin:0 auto 1em auto;
            }

            h4{
              margin-top:0;
              margin-bottom:0;
              font-size: 1.1em;
            }

            p.icon-stat{
              font-size: 36px;
            }

          }

        } //end walk-scores

        p.footnote{
          font-size: .9em;
          font-style: italic;
          color:gray;
          margin: .5em auto;
          width:100%;
          text-align: center;
        }

        section.home-info{

        }

        section.description-quick-stats{
          display: flex;
          margin-top:1.4em;


          .description{
            border-top: 0;

            p{
              font-size: 21px;
              padding-right: 1.5em;
            }

            p:first-child:first-letter {
              color: $accent;
              float: left;
              font-size: 90px;
              line-height: 70px;
              padding-top: 4px;
              padding-right: 8px;
              padding-left: 3px;
            }

          }


          .quick-stats{
              background-color: lighten($gray, 10%);
              padding:none !important;
              padding-left:0;
              padding-right:0;

            h4.q-stats{
              margin-bottom:.5em;
              background-color: $accent;
              padding:.25em;
              text-align: center;
              color: white;
              font-family: $slab;
              letter-spacing: .025rem;
              font-size:1.2em;
            }

            h4.neighborhood{
              margin-bottom:.25em;
              font-family: $copy;
              font-weight: bold;
              color: #210f10;
              font-size:1.5em;
            }

            .content{
              font-family: Arial, sans-serif;
              padding:1em;
              padding-top:0;
              text-align: center;
            }

            p{
              font-family: $copy;
              font-style: oblique;
              font-size:.9em;
              padding-bottom:.5em;
              margin-bottom:0;
            }

            p:not(:last-of-type){
              border-bottom:1px solid $gray;
            }

            p:not(:first-of-type) {
              span.label{
                  border-top:1px solid white;
                  padding-top:3px;
                }
            }

            span.label{
              font-family: Arial, sans-serif;
              font-style: normal;
              display:block;
              font-weight: bold;
              color: $accent !important;
              letter-spacing: -1px;
            }

          }//end quick-stats


        }//end section.description-quick-stats


        section.neighborhood-assoc-info{

          padding-top: 2em;

          h4 {
            font-size: 1.1em;
          }

          p{
            font-size: 1.1em;
          }

        }

      }//end container

      } //end entry-content

  } //end neighborhood-profile

}
