/* _neighborhood-profile.scss */


//MOBILE SIZE
.neighborhood-profile{



  padding-top:0;

  h4{
    margin-top:0;
    font-family: $headline;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .entry-content#full-width-content{

    width:100% !important;
    max-width: 100% !important;
    padding-top:1em;

    .container{

    width:100% !important;
    max-width: none !important;

    h3{
      margin-top:0;
    }

      section{ //for all sections
        padding-top:0;
        padding-bottom:0;
      }

      .row.pictures{
        // border:2px dotted pink !important;
        margin-top:1em;
      }

      section.walk-scores,
      section.home-info{
        background-color:white;
        text-align: center;

        display:block;

        .box{
          //border:1px solid #cecece;
          flex-grow: 1;
          margin: 0 0 .5em 0;
          padding: 1em;

          h4{}



        }

      } //end walk-scores

      p.footnote{
        font-size: .75em;
        font-style: italic;
        color:gray;
        margin: .5em auto;
        width:100%;
        text-align: center;
      }



      section.description-quick-stats{
        display: flex;
        margin-top:2em;


        .description{
          flex-shrink: 1.4;
          padding-right: 2em;
        }

        .quick-stats{
          // border:2px solid red;
          background-color: lighten($primary, 30%);
          padding: 1em;
          padding-bottom:2em;
          border-top: $primary 3px solid;

        }

      }//end section.description-quick-stats

      section.neighborhood-assoc-info{
        background-color: lighten($secondary, 50%);
        margin-top: 1em;
        padding:1em;
      }

    }//end container

    } //end entry-content

} //end neighborhood-profile


//MEDIA QUERIES -----------
//FULL SCREEN / DESKTOP
@media screen and (min-width: 768px) {

  .neighborhood-profile{
    // border: 2px dashed pink;
    padding-top:0;

    .entry-content#full-width-content{

      // border: 1px dotted red;

      width:100% !important;
      max-width: 1000px !important;
      padding-top:1em;
      margin: 0 auto;

      .container{

      width:100% !important;
      max-width: none !important;

      h3{
        margin-top:0;
      }

        section{ //for all sections
          padding-top:0;
          padding-bottom:0;
        }

        section.walk-scores,
        section.home-info{
          background-color:white;
          text-align: center;
          padding-top: .5em;

          display:flex;


          .box{

            flex-grow: 1;
            margin: 0 .5em 0 .5em;
            padding: 1em;

            // &:nth-child(2) {
            //   border-left:1px solid #cecece;
            //   border-right:1px solid #cecece;
            // }



            img.icon{
              max-width: 116px;
              max-height: 116px;
              margin:0 auto 1em auto;
            }

            h4{
              margin-top:0;
              margin-bottom:0;
              font-size: 1.1em;
            }

            p.icon-stat{
              font-size: 36px;
              color: $primary;
            }

          }

        } //end walk-scores

        p.footnote{
          font-size: .75em;
          font-style: italic;
          color:gray;
          margin: .5em auto;
          width:100%;
          text-align: center;
        }

        section.home-info{
          // border-top: 2px solid $primary;
          // background-color:white;
        }

        section.description-quick-stats{
          display: flex;
          margin-top:2em;


          .description{
            padding-right: 2em;
            flex-basis: 60%;

            p:first-child:first-letter {
              color: $accent;
              float: left;
              font-size: 75px;
              line-height: 60px;
              padding-top: 4px;
              padding-right: 8px;
              padding-left: 3px;
            }

          }

          .quick-stats{

            flex-grow: 1;

            // .icon{
            //   width:190px;
            //   height:64px;
            //   display:block;
            //   background-image: url('images/DNLogo_white.svg');
            //   background-repeat: no-repeat;
            //   //border:1px solid white;
            //   margin: 0 auto 1em auto;
            // }

            h4 {
              font-size: 1.1em;
            }

            span.label{
              display:block;
              font-weight: bold;
              color: $primary;
            }

          }//quick-stats

        }//end section.description-quick-stats


        section.neighborhood-assoc-info{

          h4 {
            font-size: 1.1em;
          }

        }

      }//end container

      } //end entry-content

  } //end neighborhood-profile

}//END 768 MEDIA QUERY (DESKTOP)
