/* _posts.scss */

// #site-content.inside-post{
#site-content.singular{

  // border:3px solid green;

  article.post{
    // background-color: pink;

header#entry-header{

    //border: 4px dashed pink;

    padding-top:1.2em;

    h1.entry-title{
      // border:1px solid red;
      font-family: $headline;
      font-weight: bold;
      font-size: 3.2em;
    }

}  //end header #entry-header

  }//end article.post

}

//MEDIA QUERIES

//full screen
@media screen and (min-width: 768px) {

  #site-content.singular{

    article.post{
      // background-color: pink;

  header#entry-header{

            padding-top:1.4em;

      h1.entry-title{
        // border:1px solid red;
        font-family: $headline;
        font-weight: bold;
        font-size: 3em;
      }

  }//end header#entry-header

    }//end article.post

  }


}
