h1, h2{
  color: $primary;

  //disable disable on headlines
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .disable-select {
//
// }

.entry-content{
    p, ol, ul, dl, dt{
      font-family: $copy;
      letter-spacing: normal;
      font-size:14px;
      color:#333333;
  }
}

.entry-categories-inner{
  a{
    font-family: $slab !important;
    font-weight: 500 !important;
  }
}

.entry-categories .entry-categories-inner a{
  font-size: 1.5rem !important;
  border-bottom: none;
  //border:1px solid red;

  &:link, a:visited{
    color: $accent !important;
  }

  &:hover, a:active{
    color: $primary !important;
    text-decoration: underline;
  }

}


@media screen and (min-width: 700px) {

  .entry-content{
      p, ol, ul, dl, dt{
        font-family: $copy;
        letter-spacing: normal;
        font-size:21px;
    }
  }

}
