/* _variables.scss */

//COLOR PALETTE
//$primary: #3A828D;

$primary: #605594;
//$primary: #2567b2;

//$accent: #4DA54D;
$accent: #cc0000; //dark red
$secondary: #5e5c64;  //this is currently gray
$gray: #cccccc;

$mouseover_color: #cc0000;


//TYPEFACES
$headline: 'Roboto', sans-serif;
$copy: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
$slab: 'Roboto Slab', serif;
//$copy: NonBreakingSpaceOverride, "Georgia", Garamond, "Times New Roman", serif;

$a-tags: 'a, a:active, a:hover, a:visited';
