/* _subpages-parent.scss */
//this is the top-page that contains subpages: Live in Dayton and News & Events

//MOBILE LAYOUT
main.subpages-parent{
  //border:8px dashed orange;
  padding-top:2.4em;

  h1{
    text-align: center;
    font-family: $headline;
    font-weight: bold;
    font-size: 5em;
    margin-bottom:.5em;
  }

a{




  section{
      border: 1px solid #e3e3e3;
      border-top: none;
      text-align: center;
      width: 100%;
      padding: 1.5em;
      padding-top: 2em;
      padding-bottom: 2.5em;
      margin-bottom: 3em;

      img{
        margin-bottom: .5em;
      }

      h2{
        font-family: $copy;
        font-size:3.2em;
      }



        figure.featured-media {
          position: relative;
          text-align: center;

          .featured-media-inner{

          }

        }

    }//section


    &:hover{
      text-decoration: none;
      // color: lighten($primary, 10%);

      h2{
        color: lighten($primary, 10%);
      }
    }


}//end a

}//end main.subpages-parent


//---- MEDIA QUERIES ----------------
//tablet
@media screen and (min-width: 700px) {


  main.subpages-parent{
    //border:8px dashed orange;
    padding-top:2.4em;

    h1{
      text-align: center;
      font-family: $headline;
      font-weight: bold;
      font-size: 5em;
      margin-bottom:.5em;
    }

  a{
    section{
        border: 1px solid #e3e3e3;
        //border-top: none;
        text-align: center;
        width: 100%;
        padding: 1.5em;
        padding-top: 2em;
        padding-bottom: 2.5em;
        margin-bottom: 3em;

        img{
          margin-bottom: .5em;
        }

        h2{
          font-family: $copy;
          font-size:4.2em;
        }



          figure.featured-media {
            position: relative;
            text-align: center;

            .featured-media-inner{

            }

          }

      }//section

  }//end a

  }//end main.subpages-parent


}//end media query 700px




//full-size --------------------------
@media screen and (min-width: 992px) {


  main.subpages-parent{
    //border:8px dashed orange;
    padding-top:2.4em;

    h1{
      text-align: center;
      font-family: $headline;
      font-weight: bold;
      font-size: 7em;
      margin-bottom:.5em;
    }

  a{

    &:hover{
      text-decoration: none;
      // color: lighten($primary, 10%);

      h2{
        color: lighten($primary, 10%);
      }


    }

    section{
        border: 1px solid #e3e3e3;
        //border-top: none;
        text-align: center;
        width: 100%;
        padding: 1.5em;
        padding-top: 2em;
        padding-bottom: 2.5em;
        margin-bottom: 3em;

        img{
          margin-bottom: .5em;
        }

        h2{

          font-family: $copy;
          font-size:6em;
          padding-top: 1rem;
        }



          figure.featured-media {
            position: relative;
            text-align: center;

            .featured-media-inner{

            }

          }

      }//section

  }//end a

  }//end main.subpages-parent


}//end media query 992px
